<a href="https://colab.research.google.com/github/vaibhavjha06/ds1002-fhy5uh/blob/main/homework/week-4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Homework - Week 4

Complete the following blocks as specified in the directions. Run each cell to return the desired output. Save your notebook back to your GitHub repository and submit the GitHub URL for your notebook for review.

## 1. Data Types

```python
s = "Fox"
x = 17
y = "3"
z = "false"
```

Using the variables above answer these questions:

In [14]:
# Write a snippet of code that displays the data type (class) of `s`

s = "Fox"
x = 17
y = "3"
z = "false"

type(s)
# Data type is a string

str

In [4]:
# Write a snippet of code that adds `x` and `y` and displays their sum.

int(y)+x
# Had to convert data type of y from string to integer

20

In [15]:
# How might you transform z into a boolean value, if you had to? Be creative.

z == "true"
z
# I made z's new value a test of whether it is 'true'

'false'

- - -

## 2. Lists

    mylist = ["Chicago","New Orleans", "Tempe", "Denver", "Nashville", "Albany"]

Using the list above, answer these questions:

In [17]:
# Write a snippet of code that prints out "Tempe"

mylist = ["Chicago","New Orleans", "Tempe", "Denver", "Nashville", "Albany"]
mylist[2]
# I indexed for Tempe

'Tempe'

In [27]:
# Write a snippet of code that adds "Atlanta" to this list and displays the extended list.

mylist.append("Atlanta")
mylist
# I used the append functionality of lists to add 'Atlanta'

['Chicago', 'New Orleans', 'Tempe', 'Denver', 'Nashville', 'Albany', 'Atlanta']

In [28]:
# Write a snippet of code that prints out only "New Orleans", "Tempe", "Denver".

mylist[1:4]
# I sliced for the three cities' names

['New Orleans', 'Tempe', 'Denver']

- - -

# 3. Dictionaries

    mydict = {"VA":"Richmond", "NC":"Raleigh", "NJ":"Trenton", "PA":"Harrisburg", "NY":"Albany"}

Answer the following questions:

In [39]:
# Write a snippet of code that returns "Trenton".

mydict = {"VA":"Richmond", "NC":"Raleigh", "NJ":"Trenton", "PA":"Harrisburg", "NY":"Albany"}
mydict["NJ"]

# I indexed for the value given the key

'Trenton'

In [53]:
# Write a snippet of code that adds "CO":"Denver" to `mydict`.
# Remember the built-in .update({'key': 'value'}) method.

mydict.update({'CO': 'Denver'})
mydict
# Was messing up the inner curly brackets, to update a dictionary need to put the curly brackets within the parentheses

{'VA': 'Richmond',
 'NC': 'Raleigh',
 'NJ': 'Trenton',
 'PA': 'Harrisburg',
 'NY': 'Albany',
 'CO': 'Denver'}

In [55]:
# Write a snippet of code that returns all the keys in `mydict`

mydict.keys()

dict_keys(['VA', 'NC', 'NJ', 'PA', 'NY', 'CO'])

- - -

# 4. NumPy Arrays

Create an `ndarray` that contains the following values and assign the array to a variable.

    2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37

Using that variable, answer the following questions:

In [62]:
# Write a snippet of code that prints the data type of the elements in the array.
import numpy as np

values = np.array([2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37])
values
# Was messing up the parentheses outside of the square brackets. Need to put np.array in the outer parentheses and then inner square brackets

array([ 2,  3,  5,  7, 11, 13, 17, 19, 23, 29, 31, 37])

In [64]:
# Write a snippet of code that displays `11` from the array.

values[4]
# Indexed for a value in the array

11

In [65]:
# Write a snippet of code that multiplies each array element by `7` and displays the new values.

newvalues = 7 * values
newvalues
# Multiplied the array by a scalar multiple of 7

array([ 14,  21,  35,  49,  77,  91, 119, 133, 161, 203, 217, 259])