<a href="https://colab.research.google.com/github/vaibhavjha06/ds1002-fhy5uh/blob/main/homework/week-8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## While-Loops

Perform the following steps in code:
1. Define a variable and populate it with `0`.
2. Create a while statement that evaluates whether that variable is less than or equal to `20`.
3. Within the while loop evaluate if the variable value is even or odd.
4. Within the while loop, if the variable value is even, print it. If not, do not print it.
5. Within the while loop, finally add `1` to the variable before it repeats.

In [ ]:
# code here

helloprof = 0

while helloprof <= 20:
  if helloprof % 2 == 0:
    print('this value is even')
  else:
    continue
  helloprof = helloprof + 1

## For-Loops with Lists

In [4]:
# Use this list in the exercises below

mylist = [9, 15, 23, 4, 92, 47, 33, 17, -4, 18, 38, -242]

In [10]:
# Write a command to print out all the values of this list
# EXCEPT for any negative values. Omit them from the printing.

for numbers in mylist:
  if numbers < 0:
    continue
  else:
    print(numbers)

9
15
23
4
92
47
33
17
18
38

In [11]:
# Repeat the command from above, but this time get
# the absolute value of any negative values in the list
# and print those with the other items.

for numbers in mylist:
  if numbers < 0:
    print(abs(numbers))
  else:
    print(numbers)

9
15
23
4
92
47
33
17
4
18
38
242

In [12]:
# Similar to above, write a command to print out items in
# the list but omit any values greater than 20 and less than 40.

for numbers in mylist:
  if 20 < numbers < 40:
    print(numbers)
  else:
    continue

23
33
38

## For-Loops with Dictionaries

In [15]:
capitals = {'United States':'Washington DC',
          'Italy':'Rome',
          'England':'London',
          'Thailand':'Bangkok',
          'Brazil':'Brasilia'}

In [16]:
# Write a command to print out all the keys of this dict

for countries in capitals:
  print(countries)

United States
Italy
England
Thailand
Brazil

In [17]:
# Write a command to print out all the values of this dict

for countries in capitals:
  print(capitals[countries])

Washington DC
Rome
London
Bangkok
Brasilia

In [18]:
# Write a command to print all the keys and values for this dict

print(capitals)

{'United States': 'Washington DC', 'Italy': 'Rome', 'England': 'London', 'Thailand': 'Bangkok', 'Brazil': 'Brasilia'}

In [33]:
# Write a command to print only the first three values and NOTHING more.

list(capitals.items())[:3]

[('United States', 'Washington DC'), ('Italy', 'Rome'), ('England', 'London')]