<a href="https://colab.research.google.com/github/vaibhavjha06/ds1002-fhy5uh/blob/main/homework/week15.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Homework - Week 15

Complete the following blocks as specified in the directions. Run each cell to return the desired output. Save your notebook back to your GitHub repository and submit the GitHub URL to your notebook for review.

## 1. Create Functions (4 pts)

Create two functions in the cells below, according to the prompts given.

In [1]:
# create a function in R that:
#   1. takes a single integer as an input parameter
#   2. determines whether the integer is even or odd
#   3. returns a character statement "The integer <x> is even" or "The integer <x> is odd" (replace <x> with the actual input provided)
#
# then execute the function twice using two different input values, displaying even and odd results.

even_or_odd <- function(var1) {
  if (var1 %% 2 == 0) {
    sprintf("The integer %i is even", var1)
  } else {
    sprintf("The integer %i is odd", var1)
  }
}

even_or_odd(4)
even_or_odd(3)

[1] "The integer 4 is even"

[1] "The integer 3 is odd"

In [10]:
# create a function in R that:
#   1. takes 4 integer input parameters
#   2. returns the mean value of the inputs
#   3. has default values for the 4 input parameters, in case they are not provided when the function is called.
#
# then execute the function twice: once where you provide the input values, and once where you do not.

sum <- function(dar1 = 2, dar2 = 3, dar3 = 4, dar4 = 5) {
  df = c(dar1, dar2, dar3, dar4)
  mean_value = mean(df)
  mean_value
}

sum()
sum(4,7,6,9)

[1] 3.5

[1] 6.5

## 2. Plot Data (4 pts)

In the cell below, write the code required to plot from the `msleep` sample data set.

1. Display only animals with body weights of 30 or greater.
2. Group the animals by `order`.
3. Display the mean `sleep_total` for each group in a bar plot.

In [ ]:
#
msleep

df <- df[df$bodywt >= 30,]
# filtered for bodywt >= 30

library(dplyr)


# I tried. I really tried professor. But I am just not able to read in the data for some reason.
# Following that, I would group_by(sleep_total) and plot the mean accordingly, but nothing is running quite right because of the msleep file being unable to be ran.

## 3. Clean and Analyze Data Using R (4 pts)

In the cells below use R to perform the following data cleaning steps on this file:
https://raw.githubusercontent.com/nmagee/ds1002/main/data/social-media-users.csv

1. Remove any duplicate rows.
2. Remove any records where `last_login` or `birthdate` are empty.
3. Display only the records with the 10 highest `follower` counts.
4. Determine counts of users when grouped by continent.

In [ ]:
#
df <- read.csv("https://raw.githubusercontent.com/nmagee/ds1002/main/data/social-media-users.csv")
df

df <- df[!duplicated(df),]
# removed duplicates

In [ ]:
#
df[df==""] <- NA
# filled in empty cells with NA

library(dplyr)
df_nona <- na.omit(df)

df_nona
# removed all rows with empty birthdates and last_login

In [ ]:
#
 library(dplyr)
 df_nona %>%
    arrange(desc(followers)) %>%
    slice(1:10)

In [ ]:
#

df_nona %>%
  group_by(continent) %>%
  summarize(n = n())