<a href="https://colab.research.google.com/github/vaibhavjha06/ds1002-fhy5uh/blob/main/homework/week-13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Homework - Week 13

Complete the following blocks as specified in the directions. Run each cell to return the desired output. Save your notebook back to your GitHub repository and submit the GitHub URL to your notebook for review.

## 1. Change Runtime to R (1 pt)

Change the runtime of this notebook to R. You can verify that you are running R by displaying the current version you are running. Run the cell below and show the output.

In [ ]:
version

## 2. Create Vectors (2 pts)

Create two vectors in the cells below, according to the prompts given.

In [6]:
# create a vector with 7 integer values. Assign it to a variable named "my_integers"

my_integers <- seq(from=1, to=7, by=1)

my_integers

[1] 1 2 3 4 5 6 7

In [ ]:
var1 = 8
var2 = 4
var3 = 12
var4 = 25


hello <- var2/var1
professor <- (var2^3)*var3
magee <- var4/var3

hello



my_calculated_values <- c(hello, professor, magee)
my_calculated_values


# Using the variables given above, assign three new variables the following calculated values:
#
# 1. Your first variable should be assigned the calculated value of var2 divided by var1.
# 2. Your second variable should be assigned the calculated value of var2 cubed times var3.
# 3. Your third variable should be assigned the calculated value of var4 integer divided by var3.
#
# Next, create an array populated by your three variables. Assign the array to a new variable named "my_calculated_values"

## 3. Vector Indexes (3 pts)

In the cell below, create a vector that starts with the integer 4, that increments by counts of 3 all the way to 28.

Assign the vector to a variable name.

In [18]:
#

washington <- seq(from=4, to=28, by=3)
washington

[1]  4  7 10 13 16 19 22 25 28

Next, show how to display this vector with the 3 index removed.

In [35]:
#

dc <- washington[-3]
dc

[1]  4  7 13 16 19 22 25 28

Finally, show how to delete the 4th, 5th, and 7th indexes from the vector and update the vector so they are forever removed from the vector.

Hint: there is a fairly simple way to do this in one line, such that you don't have to run a separate command for each removal.

In [37]:
#

wow <- dc[c(-4,-5,-7)]
wow

[1]  4  7 13 22 28

## 4. Create a Data Frame (3 pts)

In the cell below create a data frame with 10 observations (rows) and 5 variables (columns) each. This data frame will describe some of your favorite musical performers. You can use real or fictitious data to populate your data frame.

Variables:
  - `artist` - Artist or band name
  - `category` - Rock, Pop, Country, Hip-hop, Jazz, Classical, Soul, Other. (Try to distribute your selections here)
  - `size` - (number of members, 1-?)
  - `start` - Debut year of artist.
  - `grammy` - Grammmy winner? `TRUE` | `FALSE`

First create vectors for each variable populated with your own performer data. Then create a data frame from these vectors (be sure to assign column names too) and assign it to a named variable such as `df`.

In [52]:
#

artist <- c("Taylor Swift", "Katy Perry", "The Weeknd",
           "Tate McRay", "James Arthur", "Rascal Flatts",
           "John Denver", "Jay-Z", "Drake", "Justin Bieber")
category <- c('Country', 'Pop', 'Pop', 'Country', 'Pop', 'Rock', 'Country', 'Rap', 'Rap', 'Pop')
size <- c(1,1,1,1,1,1,1,1,1,1)
start <- c(2010, 2011, 2017, 2020, 2014, 1989, 1979, 2004, 2008, 2009)
grammy <- c(TRUE, TRUE, FALSE, TRUE, TRUE, FALSE, TRUE, TRUE, TRUE, TRUE)

df <- data.frame(Artist = artist, Category = category, Size = size, Start = start, Grammy = grammy)


df

   Artist        Category Size Start Grammy
1  Taylor Swift  Country  1    2010   TRUE
2  Katy Perry    Pop      1    2011   TRUE
3  The Weeknd    Pop      1    2017  FALSE
4  Tate McRay    Country  1    2020   TRUE
5  James Arthur  Pop      1    2014   TRUE
6  Rascal Flatts Rock     1    1989  FALSE
7  John Denver   Country  1    1979   TRUE
8  Jay-Z         Rap      1    2004   TRUE
9  Drake         Rap      1    2008   TRUE
10 Justin Bieber Pop      1    2009   TRUE

## 5. Filter/Query a Data Frame (2 pts)

Use the data frame you created above and show how to perform the following queries.

In [53]:
# Display the first 3 records and only the `artist`, `category` and `grammy` columns for each.

head(df[c(1,2,5)], 3)

  Artist       Category Grammy
1 Taylor Swift Country   TRUE
2 Katy Perry   Pop       TRUE
3 The Weeknd   Pop      FALSE

In [60]:
# Display the records for just one musical category, such as only Rock bands or only Hip-hop bands.

df[df$Category == 'Rock',]

  Artist        Category Size Start Grammy
6 Rascal Flatts Rock     1    1989  FALSE

## Query a Data Frame using `tidyverse` (4 pts)

1. Show how to load the library.
2. Show how to glimpse basic features of the `starwars` data table.
3. Create a query using tidyverse that retrieves the following data:
    - Selects only these columns: `name`, `height`, `sex`, `species`.
    - Filters for all species that are NOT Human.
    - Arranges the resulting data in order by name.

Show your output in a data frame.

In [70]:
#


library(tidyverse)

# str(starwars)
# head(starwars)

dataframe<- starwars %>%   # and-then
  select(name, height, sex, species) %>%
  filter(species != "Human") %>%
  group_by(name)

dataframe

   name                  height sex            species
1  C-3PO                 167    none           Droid
2  R2-D2                  96    none           Droid
3  R5-D4                  97    none           Droid
4  Chewbacca             228    male           Wookiee
5  Greedo                173    male           Rodian
6  Jabba Desilijic Tiure 175    hermaphroditic Hutt
7  Yoda                   66    male           Yoda's species
8  IG-88                 200    none           Droid
9  Bossk                 190    male           Trandoshan
10 Ackbar                180    male           Mon Calamari
11 Wicket Systri Warrick  88    male           Ewok
12 Nien Nunb             160    male           Sullustan
13 Nute Gunray           191    male           Neimodian
14 Jar Jar Binks         196    male           Gungan
15 Roos Tarpals          224    male           Gungan
16 Rugor Nass            206    male           Gungan
17 Watto                 137    male           Toydarian
18 Sebulba               112    male           Dug
19 Darth Maul            175    male           Zabrak
20 Bib Fortuna           180    male           Twi'lek
21 Ayla Secura           178    female         Twi'lek
22 Dud Bolt               94    male           Vulptereen
23 Gasgano               122    male           Xexto
24 Ben Quadinaros        163    male           Toong
25 Ki-Adi-Mundi          198    male           Cerean
26 Kit Fisto             196    male           Nautolan
27 Eeth Koth             171    male           Zabrak
28 Adi Gallia            184    female         Tholothian
29 Saesee Tiin           188    male           Iktotchi
30 Yarael Poof           264    male           Quermian
31 Plo Koon              188    male           Kel Dor
32 Mas Amedda            196    male           Chagrian
33 Poggle the Lesser     183    male           Geonosian
34 Luminara Unduli       170    female         Mirialan
35 Barriss Offee         166    female         Mirialan
36 Zam Wesell            168    female         Clawdite
37 Dexter Jettster       198    male           Besalisk
38 Lama Su               229    male           Kaminoan
39 Taun We               213    female         Kaminoan
40 Ratts Tyerell          79    male           Aleena
41 R4-P17                 96    none           Droid
42 Wat Tambor            193    male           Skakoan
43 San Hill              191    male           Muun
44 Shaak Ti              178    female         Togruta
45 Grievous              216    male           Kaleesh
46 Tarfful               234    male           Wookiee
47 Tion Medon            206    male           Pau'an
48 BB8                    NA    none           Droid